body {
    background-color: rgb(184, 184, 184);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header {
    width: 80%;
    height: 60px;
    background-color: rgb(86, 95, 57);
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    transition: 0.1s;
}

.header:hover {
    transform: scale(101%);
}

.logo {
    padding-top: 2.5px;
}

.logo a {
    display: block;
    position: absolute;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    z-index: 1;
    transition: 0.2s;
}

.logo a:hover {
    background-color: rgba(136, 163, 135, 0.503);
}

.logo img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: 2;
}

nav {
    padding-top: 18px;
    height: 40px;
}

nav a {
    text-decoration: none;
    color: rgb(233, 233, 233);
    font-family: Font;
    font-size: 20px;
    padding-right: 40px;
    transition: 0.2s;
}

nav a:hover {
    color: rgb(105, 131, 104);
}

@font-face {
    font-family: Font;
    src: url(../font/font.ttf);
}

@media only screen and (max-width: 600px) {
    .header {
        width: 99%;
    }
}

@media only screen and (max-width: 350px) {
    .header a {
        font-size: 4vmin;
    }
    nav a {
        padding-right: 2vmax;
        width: fit-content;
    }
}

@media only screen and (max-width: 260px) {
    .logo a {
        width: 15vmin;
        height: 15vmin;
    }
}