.myInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    
}

section {
    height: 1000px;
}

.photoAndShortAbout {
    margin-right: 10px;
    width: 45vmax;
    height: 400px;
    border-radius: 15px;
    background-image: url(/img/militar-background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.photoAndShortAbout:hover {
    transform: scale(101%);
}

.photoAndShortAbout img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.photoAndShortAbout h2 {
    margin-left: 30px;
    font-family: Font;
    font-size: 30px;
}

.about {
    margin-left: 10px;
    width: 40vmax;
    height: 400px;
    border-radius: 15px;
    background-image: url(/img/militar-background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.about:hover {
    transform: scale(101%);
}

.about p {
    text-align: center;
    font-size: 25px;
    font-family: Font;
}


@font-face {
    font-family: Font;
    src: url(../font/font.ttf);
}

@media only screen and (max-width: 800px) {
    .myInfo{
        flex-direction: column;
    }

    .photoAndShortAbout {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .about {
        margin-left: 0;
        margin-top: 10px
    }

}

@media only screen and (max-width: 500px) {
    .photoAndShortAbout {
        width: 95vmin;
        height: 95vmin;
    }
    .photoAndShortAbout img {
        width: 70vmin;
        height: 70vmin;
    }
    .photoAndShortAbout h2 {
        font-size: 16px;
        margin-left: 10px;
    }
    .about {
        width: 95vmin;
        height: 95vmin;
    }
}